<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gangwars License</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container document-content">
    <p>Copyright &copy; 2026 hoobyLab</p>
    <p>This software and all associated code, assets, and documentation are the exclusive property of hoobyLab and timotheuzi@yahoo.com.
NO ONE MAY REUSE, MODIFY, DISTRIBUTE, OR DERIVE WORKS FROM THIS CODE WITHOUT EXPLICIT WRITTEN PERMISSION FROM THE OWNERS.
All rights reserved. Unauthorized use, copying, or distribution will result in legal action.
Owned by:
- hoobyLab
- timotheuzi@yahoo.com</p>
    </div>
<div style="padding: 20px; text-align: left;"><a href="/{{ project }}" style="color: #007bff; text-decoration: none; font-weight: bold; font-size: 1.2em;">&larr; Back to {{ project_name }} Product Page</a></div>
</body>
</html>